*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/java_pid11500.hprof
/app/production/release/app-production-release.apk
/app/production/release/app-production-release.apk
/app/production/release/app-production-release.apk
