<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.RightDirection.ShoppingList">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ShoppingListEditingActivity" />
        <activity android:name=".activities.ProductsListActivity" />
        <activity android:name=".activities.CategoriesListActivity" />
        <activity
            android:name=".activities.ProductActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".activities.CategoryActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name=".activities.ShoppingListInShopActivity" />
        <activity android:name=".activities.SettingsActivity" />

        <provider
            android:name=".utils.contentProvider"
            android:authorities="com.RightDirection.shoppinglistcontentprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".activities.HelpMainActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeDialog">
        </activity>
        <activity android:name=".activities.HelpShoppingListInShopActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeDialog">
        </activity>
        <activity android:name=".activities.ChooseCategoryActivity"
            android:theme="@style/AppThemeDialogFixedSize">
        </activity>
        <activity android:name=".activities.ChooseCategoryImageActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeDialog">
        </activity>
        <activity android:name=".activities.LoadShoppingListActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeDialog">
        </activity>
        <activity android:name=".activities.OpeningOptionChoiceActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeDialog">
        </activity>
    </application>

</manifest>